<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Burger Pub</title>
</head>

<body>
    <a href="#maincontent" class="skip-link">Menuju Konten</a>
    <!-- Start Navbar -->
    <nav >
            <div class="logo-container">
                <a href="/" class="active logo-text">BurgerPub</a>
            </div>
            <a href="javascript:void(0);" class="hamburger-btn" id="navbar" tabindex="0">
              <i class="fa fa-bars"></i>
            </a>
            <div id="myLinks" class="nav-list">
                <ul>
                    <li class="link">
                        <a href="/">Home</a>
                    </li>
                    <li class="link">
                        <a href="#">Favorite</a>
                    </li>
                    <li class="link">
                        <a href="http://aknadhif.me/">About us</a>
                    </li>
                </ul>
            </div>
            
    </nav>
    <!-- End Navbar -->
    <main id="maincontent">

        <!-- Start Hero -->
        <section class="hero">
        <img src="./images/heros/hero-image_2.jpg" alt="hero">
        <div class="text">
            <h1>Burger Pub</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam recusandae ex officiis rem odio,
                voluptatibus, fugiat assumenda blanditiis dignissimos tempora id expedita asperiores voluptate
                dolorem.</p>
            </div>
        </section>
        <!-- End Hero -->
        <!-- Start Content -->
        
        <section class="content">
            <div class="option">
                <h2>Explore Restaurant</h2>
                <div class="container-btn">
                    <button class="btn">Restaurant</button>
                    <!-- <button class="btn">Food</button>
                    <button class="btn">Drink</button> -->
                    </div>
                </div>
                
                <card-item/>
            </section>
            <!-- End Content -->
            
            <!-- Footer -->
            <section class="footer">
                <p>
                    Copyright © 2021 - Burger Pub
                </p>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                    <path fill="#9a8c98" fill-opacity="1"
                    d="M0,128L34.3,122.7C68.6,117,137,107,206,85.3C274.3,64,343,32,411,37.3C480,43,549,85,617,112C685.7,139,754,149,823,138.7C891.4,128,960,96,1029,80C1097.1,64,1166,64,1234,69.3C1302.9,75,1371,85,1406,90.7L1440,96L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z">
                </path>
            </svg>
        </section>
        <!-- End Footer -->
    </main>
        
    </body>
    
    </html>
