.footer{
    text-transform: uppercase;
    width: 100%;
    font-size: 18px;
    position: relative;
    bottom: 0px;
    text-align: center;
}
.footer p{
    color: var(--e);
    position: absolute;
    left: 10%;
    bottom: 10px;
    z-index: 1;
}

@media screen and (min-width: 600px) {
    .footer p{
        left: 40%;
        bottom: 40px;
    }
    .footer{
        width: 100%;
    }

}