nav {
    width: 50%;
    height: 75px;
    top: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.logo-text {
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 28px;
    font-weight: bold;
    color: var(--d);
    transition: 1s;
}
nav .logo-text.muncul{
    color: var(--a);
    transition: 1s;
}

.nav-list {
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 75px;
    background: var(--b);
    text-align: center;
    transition: all .5s;
}

.nav-list li {
    display: none;
    opacity: 0;
    line-height: 70px;
    margin: 50px 0;
    transition: all .5s;
}

.nav-list li a {
    color: var(--e);
    font-size: 56px;
    text-transform: uppercase;
    font-weight: bold;

}

.nav-list li a.active,
.nav-list li a:hover {
    color: var(--d);
    transition: 0.5s;
}

.hamburger-btn {
    display: block;
    font-size: 44px;
    color: var(--d);
    line-height: 60px;
    cursor: pointer;
    margin-left: 150px;
    transition: 1s;
}

.hamburger-btn:hover {
    font-size: 46px;
}
.hamburger-btn.muncul{
    color: var(--a);
    transition: 1s;
    
}

#check {
    display: none;
}

#check:checked~.nav-list {
    height: 100%;
}

#check:checked~.nav-list li {
    display: block;
    opacity: 1;
}

@media only screen and (min-width: 600px) {
    .logo-contianer {
        margin-left: 25px;
    }

    .logo-text {
        font-size: 34px;
        margin-top: 25px;
        margin-left: 25px;
        color: var(--e);
    }

    nav {
        height: 100px;
        background-color: transparent;
        width: 100%;
    }

    .hamburger-btn {
        display: none;
    }

    .nav-list {
        position: relative;
        height: 100px;
        top: 0;
        background: none;
        text-align: right;
        margin-right: 25px;
        transition: none;
    }
    
    .nav-list li {
        display: inline-block;
        opacity: 1;
        line-height: 100px;
        margin: 0 20px;
        transition: none;
        font-size: 34px;
    }
    
    .nav-list li a {
        font-size: 34px;
        transition: 1s;
    }
    
    .nav-list li a.active,
    .nav-list li a:hover {
        color: var(--d);
        
    }
    .nav-list.muncul a{
        color: var(--a);
        transition: 1s;
    }
}